html, body {
    background-color: #27017A;
}

.grid-container {
    display: flex;
    justify-content: center;
    margin-top: 20vh;
}

.grid {
    display: grid;
    grid-template-columns: repeat(16, auto);
    gap: 8px;
}

.square {
    // CLear the button styling.
    border: none;

    width: 40px;
    height: 40px;
    border-radius: 5px;
    background-color: #6801FF;

    transition: transform 0.2s ease-out;

    &:nth-child(4n+1) {
        background-color: #883CFF;
    }

    &.square--active {
        background-color: white;
    }

    &:hover, &:focus {
        transform: scale(1.05, 1.05);
    }
}
